@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap");

html {
  -webkit-font-smoothing: antialiased;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

h1,
body,
ul {
  padding: 0;
  margin: 0;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
}

.name {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 40px;
  cursor: pointer;
  font-weight: 400;
}

.sep {
  color: #340445;
  margin: 0 2% 0 10px;
}

.ops {
  list-style: none;
  display: flex;
  font-family: "Baloo Paaji 2", cursive;
  flex: 1;
  font-size: 1.2rem;
  padding: 0;
}

.lis {
  padding: 0 10px;
  cursor: pointer;
}

.button {
  color: white;
  font-weight: bold;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #7289da;
  text-decoration: none;
}

.icon {
  width: 1.5rem;
  margin-top: 2%;
  margin-right: 10px;
  display: inline-flex;
}

.icon svg {
  fill: white;
}

.button:hover {
  background-color: #6a7fc9;
}

.current {
  height: 24px;
  border-radius: 50%;
}

.hero {
  display: flex;
  min-height: 100vh;
}

.hero-body {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.code {
  font-size: 25vh;
  color: #340445;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 3vh;
  font-weight: 400;
  line-height: 1.25;
  margin-top: -1.25rem;
  margin-bottom: 1.5rem;
}

.return {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  height: 2.5em;
  padding-bottom: calc(0.5em - 1px);
  padding-top: calc(0.5em - 1px);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.return {
  background-color: #fff;
  border-color: #4a4a4a;
}

.return:hover {
  background-color: #D3D3D3;
  border-color: #4a4a4a;
  cursor: pointer;
}
